/* textprojectstyle.css */
body {
	background-image: url("http://i.imgur.com/8xTcNcI.jpg");
	background-color: #66ccff
}
.title{
	text-align: center;
	font-size: 4vw;
	color:#000066;
}
.imgcontainer {
	text-align: center;
}
.menuitem {
	display: inline-block;
	font-size: small;
	margin-right: 30px;
	margin-top: 50px;
}
.menuitem:hover {
	border-radius: 1px;
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
}

.poembox {
	position: absolute;
}

.poemtitle {
	position: relative;
	text-align: center;
	font-size: 3vw;
	text-decoration: underline; 
}

.essay {
	position: absolute;
}

.subheading {
	position: relative;
	text-align: center;
	font-size:2vw;
}

a:link, a:visited {
	float: left;
	text-decoration: none;
	background-color: green;
	border: 1px solid red;
	color: black;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;

}
a:hover {
	background-color: yellow;
	color: blue;
}
a:active {
	background-color: yellow;
	color: red;
}